<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required for HTTP/HTTPS calls to the backend (hungsanity.com).
         The debug variant also declares this, but the release APK merges
         only this main manifest, so the permission must live here too. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required on Android 13+ (API 33) to show notifications in the system
         tray. Without this, requestNotificationsPermission() returns false
         and FlutterLocalNotificationsPlugin.show() silently no-ops. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:label="tennis_pro"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- FCM: icon and color used for notifications when the server
             doesn't supply its own. Defaults to the app icon and the
             system's tint if omitted. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/white" />
        <!-- FCM: declare default channel for "notification" messages
             that arrive with no notification channel in the payload.
             flutter_local_notifications' channels take precedence when
             we render manually via showRemoteMatch / showRemoteSeason. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="tennis_fcm_default" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
